.error-message {
  background-color: lightcoral;
  margin-top: 25px;
  padding: 10px;
  border: 3px solid red;
  border-radius: 4px;
  color: black;
  display: none;
  position: absolute;
  top: 40px;
}

.show {
  display: block;
}
