@use 'variables' as *;

footer {
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-bg;
  width: 100%;
  p {
    padding: 5px 0;
    margin: 0;
    a {
      color: black;
    }
  }
}
