@use 'variables' as *;

header {
  h1 {
    font-size: clamp(0.1rem, 5vw, 30rem);
    margin: 0 0 5px 0;
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 36px;
  }
  .nyt-image-container {
    width: 90%;
    margin: 25px auto;
    padding: 25px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
}
