/* fonts */
$body-font: 'IM Fell English', serif;

/* colours */
$primary: rgb(82, 82, 143);
$secondary: grey;

/* dimensions */
$footer-height: 30px;

/* media query breakpoints*/
$mq-desktop-sm: 1024px;
$mq-tablet: 768px;
$mq-mobile-lg: 425px;
$mq-mobile-sm: 375px;
